################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
*.user

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
